@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
    color: #172030;
}

p, li {
    text-align: justify;
    margin-left: 5%;
}

abbr {
    text-decoration: none;
}

h1, h2, h3 {
    padding-top: 2%;
    padding-bottom: 1%;
    color: #be007f;
    font-family: 'Tahoma';
}

ul, ol {
    background-color: #ffc3fc;
    border-radius: 20px;
    padding: 10px;
    font-size: 22px;
}

.content {
    width: 90%;
    padding-left: 5%;
}

.links-interesse {
    text-align: center;
}

.link-icons {
    text-align: center;
}

.link-icons svg {
    height: 70px;
    width: 70px;
    padding: 10px;
}